*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
C:\Users\marca\OneDrive\Escritorio\Let's Code\Kotlin\loginregisterprueba\app\src\main\java\com\example\loginregisterprueba\MainActivity.kt
